# Created by .ignore support plugin (hsz.mobi)
### Example user template template
### Example user template


### *.a       #
### !lib.a    #
### /TODO     #
### build/    #
### doc/*.txt #



# IntelliJ project files
.idea
*.iml
out
gen
file
*.xls
*.xlsx
target/
*.class