<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="common.mapper.AssociationConferenceMapper">


	<!--<resultMap id="NewsResultMap" type="common.pojo.NewsData" >-->
		<!--<id column="ID" 				            property="ID"  jdbcType="INTEGER" />-->

		<!--<result column="ID"		property="ID"					jdbcType="INTEGER" />-->
		<!--<result column="TITLE"		property="TITLE"				jdbcType="VARCHAR" />-->
		<!--<result column="AUTHOR"		property="AUTHOR"				jdbcType="VARCHAR" />-->
		<!--<result column="SITE_ID"	property="SITE_ID"				jdbcType="INTEGER" />-->
		<!--<result column="PUBTIME"	property="PUBTIME"				jdbcType="TIMESTAMP" />-->
		<!--<result column="URL"		property="URL"					jdbcType="VARCHAR" />-->
		<!--<result column="SEARCH_KEYWORD"		property="SEARCH_KEYWORD"		jdbcType="VARCHAR" />-->
		<!--<result column="SOURCE"			property="SOURCE"			jdbcType="VARCHAR" />-->
		<!--<result column="CATEGORY_CODE"		property="CATEGORY_CODE"		jdbcType="VARCHAR" />-->
		<!--<result column="INSERTTIME"		property="INSERTTIME"			jdbcType="TIMESTAMP" />-->
		<!--<result column="MD5"			property="MD5"				jdbcType="VARCHAR" />-->
		<!--<result column="CONTENT"		property="CONTENT"			jdbcType="VARCHAR" />-->
		<!--<result column="BRIEF"			property="BRIEF"			jdbcType="VARCHAR" />-->
		<!--<result column="IMG_URL"		property="IMG_URL"			jdbcType="VARCHAR" />-->
		<!--<result column="SAME_NUM"		property="SAME_NUM"			jdbcType="VARCHAR" />-->
		<!--<result column="SAME_URL"		property="SAME_URL"			jdbcType="INTEGER" />-->
		<!--<result column="OLD_ID"			property="OLD_ID"			jdbcType="INTEGER" />-->


	<!--</resultMap>-->


	<!--<select id="getInternationalConference"  resultMap="ConferenceDateMap">-->
		<!--select * from international_conference-->

	<!--</select>-->






    <insert id="insertInternationalConference"  parameterType="common.pojo.AssociationConferenceData">

		  insert into international_conference(
			contact_position,
			contact_phone,
			recommended_experts,
			contact_name,
			conference_name,
			conference_topic,
			holding_time,
			holding_address,
			field,
			organizer,
			`scale`,
			create_year,
			closing_date,
			times,
			collection_paper,
			search_situation,
			web_address,
			recommended_reason,
			institutional_name,
			GUID,
			approval_status,
			company_number,
			signUp_time,
			template_number,
			association_number,
			reviewer,
			reviewer_number,
			review_time,
			company_name
		  )
		  values(
				#{contact_position},
				#{contact_phone},
				#{recommended_experts},
				#{contact_name},
				#{conference_name},
				#{conference_topic},
				#{holding_time},
				#{holding_address},
				#{field},
				#{organizer},
				#{scale},
				#{create_year},
				#{closing_date},
				#{times},
				#{collection_paper},
				#{search_situation},
				#{web_address},
				#{recommended_reason},
				#{institutional_name},
				#{GUID},
				#{approval_status},
				#{company_number},
				#{signUp_time},
				#{template_number},
				#{association_number},
				#{reviewer},
				#{reviewer_number},
				#{review_time},
				#{company_name}
			  )

    </insert>



	<insert id="insertNationalConference"  parameterType="common.pojo.AssociationConferenceData">

		insert into national_conference(
		contact_position,
		contact_phone,
		recommended_experts,
		contact_name,
		conference_name,
		conference_topic,
		holding_time,
		holding_address,
		field,
		organizer,
		`scale`,
		create_year,
		closing_date,
		times,
		collection_paper,
		search_situation,
		web_address,
		recommended_reason,
		institutional_name,
		GUID,
		approval_status,
		company_number,
		signUp_time,
		template_number,
		association_number,
		reviewer,
		reviewer_number,
		review_time,
		company_name
		)
		values(
		#{contact_position},
		#{contact_phone},
		#{recommended_experts},
		#{contact_name},
		#{conference_name},
		#{conference_topic},
		#{holding_time},
		#{holding_address},
		#{field},
		#{organizer},
		#{scale},
		#{create_year},
		#{closing_date},
		#{times},
		#{collection_paper},
		#{search_situation},
		#{web_address},
		#{recommended_reason},
		#{institutional_name},
		#{GUID},
		#{approval_status},
		#{company_number},
		#{signUp_time},
		#{template_number},
		#{association_number},
		#{reviewer},
		#{reviewer_number},
		#{review_time},
		#{company_name}

		)

	</insert>




	<insert id="insertAllCountConference"  parameterType="common.pojo.AssociationConferenceAllCountData">

		insert into all_count_conference(
			company_name,
			contacts,
			job_title,
			contact_information,
			meetings_times_domestic,
			meetings_times_international,
			meetings_times_held_hK_mc_tw,
			participants_number_domestic,
			participants_number_international,
			participants_number_hK_mc_tw,
			exchange_papers_meeting_domestic,
			exchange_paper_conferences_international,
			exchange_paper_conferences_hK_mc_tw,
			number_of_times_professional,
			number_of_times_comprehensive,
			participants_number_professional,
			participants_number_comprehensive,
			exchange_papers_conference_professional,
			exchange_paper_conference_number_comprehensive,
			meetings_times_large,
			meetings_times_medium,
			meetings_times_small,
			participants_number_large,
			participants_number_medium,
			participants_number_small,
			exchange_papers_conference_large,
			exchange_papers_meeting_medium,
			exchange_papers_meeting_small,
			meetings_times_one_time,
			number_of_times_held_annual,
			number_of_events_series,
			participants_number_one_time,
			participants_number_annual,
			participants_number_series,
			exchange_paper_conferences_one_time,
			exchange_papers_meeting_annual,
			exchange_papers_meeting_series,
			guid,
			approval_status,
			company_number,
			date_of_completion,
			template_number,
			institutional_number,
			reviewer,
			reviewer_number,
			review_time,
			institutional_name
		)
		values(
			#{company_name},
			#{contacts},
			#{job_title},
			#{contact_information},
			#{meetings_times_domestic},
			#{meetings_times_international},
			#{meetings_times_held_hK_mc_tw},
			#{participants_number_domestic},
			#{participants_number_international},
			#{participants_number_hK_mc_tw},
			#{exchange_papers_meeting_domestic},
			#{exchange_paper_conferences_international},
			#{exchange_paper_conferences_hK_mc_tw},
			#{number_of_times_professional},
			#{number_of_times_comprehensive},
			#{participants_number_professional},
			#{participants_number_comprehensive},
			#{exchange_papers_conference_professional},
			#{exchange_paper_conference_number_comprehensive},
			#{meetings_times_large},
			#{meetings_times_medium},
			#{meetings_times_small},
			#{participants_number_large},
			#{participants_number_medium},
			#{participants_number_small},
			#{exchange_papers_conference_large},
			#{exchange_papers_meeting_medium},
			#{exchange_papers_meeting_small},
			#{meetings_times_one_time},
			#{number_of_times_held_annual},
			#{number_of_events_series},
			#{participants_number_one_time},
			#{participants_number_annual},
			#{participants_number_series},
			#{exchange_paper_conferences_one_time},
			#{exchange_papers_meeting_annual},
			#{exchange_papers_meeting_series},
			#{guid},
			#{approval_status},
			#{company_number},
			#{date_of_completion},
			#{template_number},
			#{institutional_number},
			#{reviewer},
			#{reviewer_number},
			#{review_time},
			#{institutional_name})
	</insert>


</mapper>