<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="common.mapper.WosExportMapper">


	<resultMap id="WosExportPapersMap" type="common.pojo.WosExportData" >
		<id column="ID" 	 property="ID"  jdbcType="INTEGER" />

		<result column="ID"	 property="ID"	   jdbcType="INTEGER" />
		<result column="PT"  property="PT"     jdbcType="VARCHAR" />
		<result column="AU"  property="AU"     jdbcType="VARCHAR" />
		<result column="BA"  property="BA"     jdbcType="VARCHAR" />
		<result column="BE"  property="BE"     jdbcType="VARCHAR" />
		<result column="GP"  property="GP"     jdbcType="VARCHAR" />
		<result column="AF"  property="AF"     jdbcType="VARCHAR" />
		<result column="BF"  property="BF"     jdbcType="VARCHAR" />
		<result column="CA"  property="CA"     jdbcType="VARCHAR" />
		<result column="TI"  property="TI"     jdbcType="VARCHAR" />
		<result column="SO"  property="SO"     jdbcType="VARCHAR" />
		<result column="SE"  property="SE"     jdbcType="VARCHAR" />
		<result column="BS"  property="BS"     jdbcType="VARCHAR" />
		<result column="LA"  property="LA"     jdbcType="VARCHAR" />
		<result column="DT"  property="DT"     jdbcType="VARCHAR" />
		<result column="CT"  property="CT"     jdbcType="VARCHAR" />
		<result column="CY"  property="CY"     jdbcType="VARCHAR" />
		<result column="CL"  property="CL"     jdbcType="VARCHAR" />
		<result column="SP"  property="SP"     jdbcType="VARCHAR" />
		<result column="HO"  property="HO"     jdbcType="VARCHAR" />
		<result column="DE"  property="DE"     jdbcType="VARCHAR" />
		<result column="ID"  property="ID"     jdbcType="VARCHAR" />
		<result column="AB"  property="AB"     jdbcType="VARCHAR" />
		<result column="C1"  property="C1"     jdbcType="VARCHAR" />
		<result column="RP"  property="RP"     jdbcType="VARCHAR" />
		<result column="EM"  property="EM"     jdbcType="VARCHAR" />
		<result column="RI"  property="RI"     jdbcType="VARCHAR" />
		<result column="OI"  property="OI"     jdbcType="VARCHAR" />
		<result column="FU"  property="FU"     jdbcType="VARCHAR" />
		<result column="FX"  property="FX"     jdbcType="VARCHAR" />
		<result column="CR"  property="CR"     jdbcType="VARCHAR" />
		<result column="NR"  property="NR"     jdbcType="VARCHAR" />
		<result column="TC"  property="TC"     jdbcType="VARCHAR" />
		<result column="Z9"  property="Z9"     jdbcType="VARCHAR" />
		<result column="U1"  property="U1"     jdbcType="VARCHAR" />
		<result column="U2"  property="U2"     jdbcType="VARCHAR" />
		<result column="PU"  property="PU"     jdbcType="VARCHAR" />
		<result column="PI"  property="PI"     jdbcType="VARCHAR" />
		<result column="PA"  property="PA"     jdbcType="VARCHAR" />
		<result column="SN"  property="SN"     jdbcType="VARCHAR" />
		<result column="EI"  property="EI"     jdbcType="VARCHAR" />
		<result column="BN"  property="BN"     jdbcType="VARCHAR" />
		<result column="J9"  property="J9"     jdbcType="VARCHAR" />
		<result column="JI"  property="JI"     jdbcType="VARCHAR" />
		<result column="PD"  property="PD"     jdbcType="VARCHAR" />
		<result column="PY"  property="PY"     jdbcType="VARCHAR" />
		<result column="VL"  property="VL"     jdbcType="VARCHAR" />
		<result column="IS"  property="IS"     jdbcType="VARCHAR" />
		<result column="PN"  property="PN"     jdbcType="VARCHAR" />
		<result column="SU"  property="SU"     jdbcType="VARCHAR" />
		<result column="SI"  property="SI"     jdbcType="VARCHAR" />
		<result column="MA"  property="MA"     jdbcType="VARCHAR" />
		<result column="BP"  property="BP"     jdbcType="VARCHAR" />
		<result column="EP"  property="EP"     jdbcType="VARCHAR" />
		<result column="AR"  property="AR"     jdbcType="VARCHAR" />
		<result column="DI"  property="DI"     jdbcType="VARCHAR" />
		<result column="D2"  property="D2"     jdbcType="VARCHAR" />
		<result column="EA"  property="EA"     jdbcType="VARCHAR" />
		<result column="EY"  property="EY"     jdbcType="VARCHAR" />
		<result column="PG"  property="PG"     jdbcType="VARCHAR" />
		<result column="WC"  property="WC"     jdbcType="VARCHAR" />
		<result column="SC"  property="SC"     jdbcType="VARCHAR" />
		<result column="GA"  property="GA"     jdbcType="VARCHAR" />
		<result column="UT"  property="UT"     jdbcType="VARCHAR" />
		<result column="PM"  property="PM"     jdbcType="VARCHAR" />
		<result column="OA"  property="OA"     jdbcType="VARCHAR" />
		<result column="HC"  property="HC"     jdbcType="VARCHAR" />
		<result column="HP"  property="HP"     jdbcType="VARCHAR" />
		<result column="DA"  property="DA"     jdbcType="VARCHAR" />


	</resultMap>




	<select id="getWosExportPapers"  resultMap="WosExportPapersMap">
		select * from wos_data
	</select>



    <insert id="insertWosExportPaper"  parameterType="common.pojo.WosExportData">

		  insert into wos_data(
			`PT`,
			`AU`,
			`BA`,
			`BE`,
			`GP`,
			`AF`,
			`BF`,
			`CA`,
			`TI`,
			`SO`,
			`SE`,
			`BS`,
			`LA`,
			`DT`,
			`CT`,
			`CY`,
			`CL`,
			`SP`,
			`HO`,
			`DE`,
			`ID`,
			`AB`,
			`C1`,
			`RP`,
			`EM`,
			`RI`,
			`OI`,
			`FU`,
			`FX`,
			`CR`,
			`NR`,
			`TC`,
			`Z9`,
			`U1`,
			`U2`,
			`PU`,
			`PI`,
			`PA`,
			`SN`,
			`EI`,
			`BN`,
			`J9`,
			`JI`,
			`PD`,
			`PY`,
			`VL`,
			`IS`,
			`PN`,
			`SU`,
			`SI`,
			`MA`,
			`BP`,
			`EP`,
			`AR`,
			`DI`,
			`D2`,
			`EA`,
			`EY`,
			`PG`,
			`WC`,
			`SC`,
			`GA`,
			`UT`,
			`PM`,
			`OA`,
			`HC`,
			`HP`,
			`DA`
		  )
		  values(
				#{PT},
				#{AU},
				#{BA},
				#{BE},
				#{GP},
				#{AF},
				#{BF},
				#{CA},
				#{TI},
				#{SO},
				#{SE},
				#{BS},
				#{LA},
				#{DT},
				#{CT},
				#{CY},
				#{CL},
				#{SP},
				#{HO},
				#{DE},
				#{ID},
				#{AB},
				#{C1},
				#{RP},
				#{EM},
				#{RI},
				#{OI},
				#{FU},
				#{FX},
				#{CR},
				#{NR},
				#{TC},
				#{Z9},
				#{U1},
				#{U2},
				#{PU},
				#{PI},
				#{PA},
				#{SN},
				#{EI},
				#{BN},
				#{J9},
				#{JI},
				#{PD},
				#{PY},
				#{VL},
				#{IS},
				#{PN},
				#{SU},
				#{SI},
				#{MA},
				#{BP},
				#{EP},
				#{AR},
				#{DI},
				#{D2},
				#{EA},
				#{EY},
				#{PG},
				#{WC},
				#{SC},
				#{GA},
				#{UT},
				#{PM},
				#{OA},
				#{HC},
				#{HP},
				#{DA}

		  )

    </insert>


	<insert id="insertWosExportPaperByBatch" parameterType="java.util.List">
		insert into wos_data(
		`PT`,
		`AU`,
		`BA`,
		`BE`,
		`GP`,
		`AF`,
		`BF`,
		`CA`,
		`TI`,
		`SO`,
		`SE`,
		`BS`,
		`LA`,
		`DT`,
		`CT`,
		`CY`,
		`CL`,
		`SP`,
		`HO`,
		`DE`,
		`ID`,
		`AB`,
		`C1`,
		`RP`,
		`EM`,
		`RI`,
		`OI`,
		`FU`,
		`FX`,
		`CR`,
		`NR`,
		`TC`,
		`Z9`,
		`U1`,
		`U2`,
		`PU`,
		`PI`,
		`PA`,
		`SN`,
		`EI`,
		`BN`,
		`J9`,
		`JI`,
		`PD`,
		`PY`,
		`VL`,
		`IS`,
		`PN`,
		`SU`,
		`SI`,
		`MA`,
		`BP`,
		`EP`,
		`AR`,
		`DI`,
		`D2`,
		`EA`,
		`EY`,
		`PG`,
		`WC`,
		`SC`,
		`GA`,
		`UT`,
		`PM`,
		`OA`,
		`HC`,
		`HP`,
		`DA`
		)
		values
		<foreach collection="wosExportDatas" item="item" index="index" separator=",">
			(
			#{item.PT,jdbcType=VARCHAR},
			#{item.AU,jdbcType=VARCHAR},
			#{item.BA,jdbcType=VARCHAR},
			#{item.BE,jdbcType=VARCHAR},
			#{item.GP,jdbcType=VARCHAR},
			#{item.AF,jdbcType=VARCHAR},
			#{item.BF,jdbcType=VARCHAR},
			#{item.CA,jdbcType=VARCHAR},
			#{item.TI,jdbcType=VARCHAR},
			#{item.SO,jdbcType=VARCHAR},
			#{item.SE,jdbcType=VARCHAR},
			#{item.BS,jdbcType=VARCHAR},
			#{item.LA,jdbcType=VARCHAR},
			#{item.DT,jdbcType=VARCHAR},
			#{item.CT,jdbcType=VARCHAR},
			#{item.CY,jdbcType=VARCHAR},
			#{item.CL,jdbcType=VARCHAR},
			#{item.SP,jdbcType=VARCHAR},
			#{item.HO,jdbcType=VARCHAR},
			#{item.DE,jdbcType=VARCHAR},
			#{item.ID,jdbcType=VARCHAR},
			#{item.AB,jdbcType=VARCHAR},
			#{item.C1,jdbcType=VARCHAR},
			#{item.RP,jdbcType=VARCHAR},
			#{item.EM,jdbcType=VARCHAR},
			#{item.RI,jdbcType=VARCHAR},
			#{item.OI,jdbcType=VARCHAR},
			#{item.FU,jdbcType=VARCHAR},
			#{item.FX,jdbcType=VARCHAR},
			#{item.CR,jdbcType=VARCHAR},
			#{item.NR,jdbcType=VARCHAR},
			#{item.TC,jdbcType=VARCHAR},
			#{item.Z9,jdbcType=VARCHAR},
			#{item.U1,jdbcType=VARCHAR},
			#{item.U2,jdbcType=VARCHAR},
			#{item.PU,jdbcType=VARCHAR},
			#{item.PI,jdbcType=VARCHAR},
			#{item.PA,jdbcType=VARCHAR},
			#{item.SN,jdbcType=VARCHAR},
			#{item.EI,jdbcType=VARCHAR},
			#{item.BN,jdbcType=VARCHAR},
			#{item.J9,jdbcType=VARCHAR},
			#{item.JI,jdbcType=VARCHAR},
			#{item.PD,jdbcType=VARCHAR},
			#{item.PY,jdbcType=VARCHAR},
			#{item.VL,jdbcType=VARCHAR},
			#{item.IS,jdbcType=VARCHAR},
			#{item.PN,jdbcType=VARCHAR},
			#{item.SU,jdbcType=VARCHAR},
			#{item.SI,jdbcType=VARCHAR},
			#{item.MA,jdbcType=VARCHAR},
			#{item.BP,jdbcType=VARCHAR},
			#{item.EP,jdbcType=VARCHAR},
			#{item.AR,jdbcType=VARCHAR},
			#{item.DI,jdbcType=VARCHAR},
			#{item.D2,jdbcType=VARCHAR},
			#{item.EA,jdbcType=VARCHAR},
			#{item.EY,jdbcType=VARCHAR},
			#{item.PG,jdbcType=VARCHAR},
			#{item.WC,jdbcType=VARCHAR},
			#{item.SC,jdbcType=VARCHAR},
			#{item.GA,jdbcType=VARCHAR},
			#{item.UT,jdbcType=VARCHAR},
			#{item.PM,jdbcType=VARCHAR},
			#{item.OA,jdbcType=VARCHAR},
			#{item.HC,jdbcType=VARCHAR},
			#{item.HP,jdbcType=VARCHAR},
			#{item.DA,jdbcType=VARCHAR}
			)
		</foreach>
	</insert>

</mapper>