<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:mybatis="http://mybatis.org/schema/mybatis-spring" xmlns:aop="http://www.springframework.org/schema/aop"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.5.xsd http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd http://mybatis.org/schema/mybatis-spring http://mybatis.org/schema/mybatis-spring.xsd http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop.xsd">


    <!-- 加载配置文件 -->
    <context:property-placeholder location="config/db.properties" />
    <!-- 数据源，使用dbcp -->
    <bean id="dataSource" class="org.apache.commons.dbcp.BasicDataSource"
          destroy-method="close">
        <property name="driverClassName" value="${jdbc.driver}" />
        <property name="url" value="${jdbc.url}" />
        <property name="username" value="${jdbc.username}" />
        <property name="password" value="${jdbc.password}" />
        <property name="maxActive" value="${jdbc.maxActive}" />
        <property name="maxIdle" value="${jdbc.maxIdle}" />
    </bean>

    <!-- sqlSessinFactory -->
    <bean id="sqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">
        <property name="dataSource" ref="dataSource" />
    </bean>


    <bean id="hotSearchMapper" class="org.mybatis.spring.mapper.MapperFactoryBean">
        <property name="mapperInterface" value="common.mapper.HotSearchMapper"/>
        <property name="sqlSessionFactory" ref="sqlSessionFactory"/>
    </bean>
    <bean id="hotSearchService" class="common.service.HotSearchService">
        <property name="hotSearchMapper" ref="hotSearchMapper"/>
    </bean>

    <bean id="commonMapper" class="org.mybatis.spring.mapper.MapperFactoryBean">
        <property name="mapperInterface" value="common.mapper.CommonMapper"/>
        <property name="sqlSessionFactory" ref="sqlSessionFactory"/>
    </bean>
    <bean id="commonService" class="common.service.CommonService">
        <property name="commonMapper" ref="commonMapper"/>
    </bean>

    <bean id="associationConferenceMapper" class="org.mybatis.spring.mapper.MapperFactoryBean">
        <property name="mapperInterface" value="common.mapper.AssociationConferenceMapper"/>
        <property name="sqlSessionFactory" ref="sqlSessionFactory"/>
    </bean>
    <bean id="associationConferenceService" class="common.service.AssociationConferenceService">
        <property name="associationConferenceMapper" ref="associationConferenceMapper"/>
    </bean>



    <bean id="intelligentTyresMapper" class="org.mybatis.spring.mapper.MapperFactoryBean">
        <property name="mapperInterface" value="common.mapper.IntelligentTyresMapper"/>
        <property name="sqlSessionFactory" ref="sqlSessionFactory"/>
    </bean>
    <bean id="intelligentTyresService" class="common.service.IntelligentTyresService">
        <property name="intelligentTyresMapper" ref="intelligentTyresMapper"/>
    </bean>


    <bean id="wosExportMapper" class="org.mybatis.spring.mapper.MapperFactoryBean">
        <property name="mapperInterface" value="common.mapper.WosExportMapper"/>
        <property name="sqlSessionFactory" ref="sqlSessionFactory"/>
    </bean>
    <bean id="wosExportService" class="common.service.WosExportService">
        <property name="wosExportMapper" ref="wosExportMapper"/>
    </bean>

    <bean id="systemconfig" class="common.system.Systemconfig" init-method="initial">
        <property name="hotSearchService" ref="hotSearchService"/>

        <property name="commonService" ref="commonService"/>
        <property name="associationConferenceService" ref="associationConferenceService"/>
        <property name="intelligentTyresService" ref="intelligentTyresService"/>
        <property name="wosExportService" ref="wosExportService"/>
    </bean>

</beans>